@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-geplano-green: #004d25;
	--color-geplano-lightGreen: #00613a;
	--color-geplano-gold: #a37e2b;
	--color-geplano-goldHover: #8c6b24;

	--font-sans: var(--font-montserrat), sans-serif;
	--font-display: var(--font-montserrat), sans-serif;

	--animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

	@keyframes fadeInUp {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}
